@{
    ViewBag.Title = "The Last Outpost";
}

<div class="shim column">
</div>
<div class="page" id="home">
    <div id="sidebar">
        &nbsp;
        <hr />
        <img src="/images/resume-photo.jpg" class="photo_198" style="border: 4px solid white"
            alt="Resume Photo" id="IMG1" />
    </div>
    <div id="content">
        <h3>Welcome to The Last Outpost</h3>
        <p>
            This is my personal site. In it you will find links to books and articles that I
            have written.
        </p>
        <hr />
        <div id="whatsnew" style="width: 374px">
            <h4>
                NEW BOOK RELEASE</h4>
            <p>
                <a href="/books">
                <img style="width: 400px; padding: 10px; border: 10px;" src="/Images/out-of-chaos-comes-a-dancing-star-front.png" 
                alt="Out of Chaos Comes a Dancing Star" /></a></p>
            <p>
                You can order a copy by <a href="mailto:orders@openjournals.net">contacting Salome Snyman at AOSIS publishers</a> or online at <a href="http://www.openjournals.net/index.php/shop?page=shop.browse&category_id=35">Open Journals: Out of Chaos Comes a Dancing Star</a>.
            </p>
            <hr />
            <h4>COMMUNICATING WITH THE AFRICAN PATIENT by Chris Ellis</h4>
            <p>This book is published by the University of KwaZulu-Natal Press. You can find out more about it on the <a href="/books">Books</a>
                page and places to buy it on the <a href="/links">Links</a> pages.</p>
        </div>
    </div>
</div>
