<p><a href="/books/b/1/echoes-from-the-last-outpost">Echoes from The Last Outpost</a></p>
<p><a href="/books/b/2/south-african-rural-medical-practice-a-photographic-journy">South African Rural Medical Practice - A Photographic Journy</a></p>
<p><a href="/books/b/3/communicating-with-the-african-patient">Communicating with the African Patient</a></p>
<p><a href="/books/b/4/review-communicating-with-the-african-patient">Review: Communicating with the African Patient</a></p>
<p><a href="/books/b/5/despatches-from-the-last-outpost">Despatches from the Last Outpost</a></p>
<p><a href="/books/b/6/the-soft-edges-of-family-practice">The Soft Edges of Family Practice</a></p>
<p><a href="/books/b/7/ruminations">Ruminations</a></p>
<p><a href="/books/b/8/hypertension-in-the-black-patient">Hypertension in the Black Patient</a></p>
<p><a href="/books/b/9/learning-language-and-culture-in-the-medical-consultation">Learning Language and Culture in the Medical Consultation</a></p>