<h3>Communicating with the African Patient</h3>
<p>
    This book is filled with useful and practical language learning strategies designed
    to help doctors, nurses and other healthcare workers (who do not speak an indigenous
    language) to learn an African language through their daily contact with patients.
</p>
<p>
    More than this, it gives advice on ways to reach some understanding of the culture,
    health beliefs and world views of the patient in a medical consultation. Although
    English/Zulu and the Zulu medical culture are used as the examples, the underlying
    themes are applicable to any culture.
</p>
<p>
    The book has retained the humour and wit of its predecessor, Learning Language and
    Culture in the Medical Consultation, but it has been considerable revised and expanded
    to include more material on the cross-cultural consultation, the Aids pandemic,
    as well as appendices of vocabulary and ‘survival phrases’ designed to facilitate
    communication and understanding in a medical context.
</p>
<p>
    <img style="border-width: 50px; float:left; padding:20px" src="/images/communicating_african_patient.jpg"
        alt="Communicating with the African Patient" />
    Book Details<br />
    ISBN: 1 86914 039 7<br />
    Price: R75<br />
    Format: Paperback<br />
    Size: 213 x 135 mm, 144pp<br />
    Interest: Healthcare<br />
    Rights: World<br />
    Publication Date: July 2004<br />
</p>
<p>
    You can buy this book from the following places:<br />
    <a href="http://www.ukznpress.co.za/book.php?action=displaybook&amp;conf[bookid]=213">UKZN Press</a>
    <br />
    <a href="http://www.kalahari.net/bk/product.asp?sku=28318222">kalahari.net</a>
    <br />
    <a href="http://www.exclusivebooks.com/display.php?ean=9781869140397">Exclusive Books</a>
    <br />
</p>
