<h3>Despatches from the Last Outpost</h3>
<p>
    The second printing of this book is now sold out except for some copies at Book
    World, which can be ordered at bookworld@lantic.net
</p>
<p>
    It may also be available online from
    <a href="http://www.exclusivebooks.com/display.php?ean=9780620255042">Exclusive Books</a>
    .
</p>
<p>
    <img src="/images/lastoutpost.jpg" alt="Despatches from the Last Outpost" />
</p>
