<h3>Echoes from The Last Outpost</h3>
<p>
    <img style="border-width: 50px; float:left; padding: 20px" src="/images/echoes_from_the_last_outpost.jpg"
        alt="Echoes from The Last Outpost" />
    In these pages you will read about horse psychology, the KwaZulu/Natal braaivleis,
    how to talk to your compost heap and about a rugger match between the Michaelhouse
    sixth team and Maritzburg college eighth team. It had, for some reason, never been
    reported before in the annals of South African rugby until it was published in the
    Witness, in which many of these stories were previously published.
</p>
<p>
    Press comments on its predecessor, Despatches from the Last Outpost:</p>
<p>
    "He's a funny chap this Chris Ellis. Very funny"<br />
    Natal Mercury</p>
<p>
    "Writing humorous material is by no means easy, but this writer has the recipe to
    the last ingredient"<br />
    The Argus</p>
<p>
    Chris Ellis is a family physician, author and humorous journalist. Articles from
    his books were selected for inclusion in Laugh the Beloved Country, a collection
    of the best South African humour of the last 200 years.</p>
<p>
    Anthony Stidolph, 'Stidy', is one of South Africa's leading cartoonists. He has
    illustrated more than twenty books.</p>
