<h3>Hypertension in the Black Patient</h3>
<p>
    Hypertension in the Black Patient. A guide for general practitioners South Africa:
    Academy Publications 1995.
</p>
<p>
    10,000 copies of this monograph were sponsored by Sandoz Pharmaceuticals.
</p>
<p>
    This book is out of print and no longer available.
</p>
