<h3>Learning Language and Culture in the Medical Consultation</h3>
<p>
    Learning Language &amp; Culture in the Medical Consultation is out of print.
</p>
<p>
    This book has been superseded by Communicating with the African Patient.</p>
