<h3>South African Rural Medical Practice - A Photographic Journy</h3>
<p>
    The Rural Healthcare Initiative is a programme designed to support healthcare in
    the rural areas. its focus is on patients and equity in healthcare for rural and
    disadvantaged communities. The health services in these areas are currently dealing
    with the HIV/AIDS epidemic as well as malaria, tuberculosis and malnutrition.
</p>
<p>
    There are two candles flickering in the rural areas. One is for the rural patient
    and the other for the rural health worker. They both need your help. We need doctors
    and healthcare workers of all disciplines. If you are interested in this challenging
    work, contact recruiter@rhi.org.za or for further information log onto
    <a href="http://www.rhi.org.za">Rural Health Initiative</a>
    .
</p>
<p>
    <img style="border-width: 50px;" src="/images/RuralMedicalPractice.png" alt="South African Rural Medical Practice - A Photographic Journy" />
</p>
<br />
<p>
    Table of Contents</p>
<p>
</p>
<p>
    Portfolio 1: A condition you will never see</p>
<p>
    Portfolio 2: The sores that creep up the leg</p>
<p>
    Portfolio 3: A teenager with a swollen leg</p>
<p>
    Portfolio 4: A pair of feet from Hlatikhulu</p>
<p>
    Portfolio 5: A child with bronchopneumonia</p>
<p>
    Portfolio 6: I wish I had taken a photograph</p>
<p>
    Portfolio 7: Things are not always what they seem</p>
<p>
    Portfolio 8: The perils of mountain climbing</p>
<p>
    Portfolio 9: In search of diagnostic certainty</p>
<p>
    Portfolio 10: What is a measle?</p>
<p>
    Portfolio 11: Diarrhoea waits for no man</p>
<p>
    Portfolio 12: The Creeping Eruption</p>
<p>
    Portfolio 13: Cicatrix Scalp</p>
<p>
    Portfolio 14: A case for Sherlock Holmes</p>
<p>
    Portfolio 15: Where the tar road ends</p>
<p>
    Portfolio 16: Coming and going</p>
