<h3>The Soft Edges of Family Practice</h3>
<p>
    THE SOFT EDGES OF FAMILY PRACTICE by Chris Ellis is unfortunately out of print.
    The third printing is now sold out.
</p>
<p>
    Articles from the Soft Edges and Despatches from the Last Outpost were selected
    for Laugh the Beloved Country (published by Double Story, Cape Town) which is an
    anthology of South African humour. It is available from
    <a href="http://www.exclusivebooks.com/display.php?ean=9781919930329">Exclusive Books</a>
    .
</p>
<p>
    <img src="/images/soft_edges.jpg" alt="The Soft Edges of Family Practice" />
</p>
