<h3>The Soft Edges of Family Practice</h3>
<p>
    THE SOFT EDGES OF FAMILY PRACTICE by Chris Ellis is unfortunately out of print.
    The third printing is now sold out.
</p>
<p>
    Articles from the Soft Edges and Despatches from the Last Outpost were selected
    for Laugh the Beloved Country (published by Double Story, Cape Town) which is an
    anthology of South African humour. It is available from
    <a href="http://www.exclusivebooks.com/display.php?ean=9781919930329">Exclusive Books</a>
    .
</p>
<p>
    <img src="/images/soft_edges.jpg" alt="The Soft Edges of Family Practice" />
</p>
<h4>Critic’s comments on “The Soft Edges of Family Practice”</h4>

<p>“Writing humorous material is by no means easy but this writer has the recipe to the last ingredient”.<br />- The Argus</p>

<p>“Delightful moments in the life of a quite ordinary person who happens to be a doctor”<br />- Pretoria News</p>

<p>“A talent for combining medical humour with compassion”<br />- Cape Times</p>

<p>“There is more than humour.  There are heart warming encounters with people in distress”<br />- S A Family Practice</p>

<p>“Underlying all his pieces are the very serious problems which can beset a general practitioner”.<br />- Talking of Books</p>

<p>“This one is a gem. Do yourself a favour by reading it again and again”<br />- South African Medical Journal</p>
