@{
    ViewBag.Title = "Books";
}

<div class="shim column">
</div>
<div class="page" id="home">
    <div id="sidebar">
        @{ Html.RenderPartial("_BookListSidebar"); }
    </div>

    <div id="content">
        @{ Html.RenderPartial((string)ViewBag.Book); }
    </div>
</div>
