<h3>In Search of the African Thorn Tree</h3>
<p>
    Perhaps my first remembered vision, when arriving in Africa, was the thorn trees
    of the Natal Midlands. Especially the umbrella thorns. On a few occasions since
    I have settled in Africa I have found myself on a return visit to Northern Europe.
    I usually find myself sitting in a long traffic jam under a dark Northern sky with
    the windscreen wipers squeaking away and the rain pouring down outside. I get this
    vision of a crystal clear African winter’s day with the umbrella thorns silhouetting
    the skyline and a sandy dry path that meanders between them and the acacia pods
    crackling under foot. I am now never far away from one. There are two yellow fever
    trees in my garden to sit under. Their botanical name is acacia xanthophloea, which
    is a bit of a tongue twister so it should be practised quietly in private and then
    dropped gently into the conversation along the lines of “and this, of course, is
    acacia xanthophloea”. One of its Zulu names is the beautifully metaphoric umKhanya-kude,
    which means “the light that can be seen from afar”due to its startling yellow bark.
    From home, in Scottsville, my day starts with hospital rounds at St Anne’s hospital
    and Mediclinic where I park under enormous fever trees, which vibrate and resonate,
    in spring, with the nesting weaver birds. I then drive to my rooms in Hayfields
    going past that magic grove of thorn tress in the dip below the Total garage and
    then, arriving at the rooms, I park under a large paper-bark acacia (acacia sieberana
    or umKhamba in Zulu). My life with thorn trees does not end here as I can see a
    cluster of umbrella thorn trees and a sweet thorn (acacia karoo) from my consulting
    room window. During the day I walk over to the window and transport myself into
    the peace of the African veld. The flowers of the sweet thorn are in bunches of
    little yellow balls, which come out in the spring and some years ago I was informed
    that there was a rare variety of acacia karoo which had white flowers but they only
    grew on the shoreline on the island of Bazaruto lying off the Mocambique coast.
    Obviously one had to check up on this so a journey was planned. There was to be
    a reunion of family friends so a four day cruise to the island of Bazaruto was organised
    from Durban on The Monterey, an Italian cruise ship. Much planning was undertaken.
    On the ship’s plan there was a swimming pool or, as we Italians say, a pescina,
    and next to it was a Pescina de Paris, where I assume one could get pesced. We were
    disappointed, though, to see that the bars closed at 4.00 am and only opened again
    at 8.00am. We decided that we would have to have a happy hour from 3.00 to 4.00
    am to keep the levels up. . We set out on the journey on one of those stunningly
    hot Pietermaritzburg December days. It would be in the high thirties by midday.
    The Natal countryside was looking its green best as we drove down through Camperdown,
    Shongweni and Pinetown to eventually arrive at the Durban Passenger Terminal on
    the Quayside. It still had the nostalgic S.A.R.&amp;H sign on the wall of the old
    South African Railways and Harbours. Inside the embarkation shed is like a small
    airport terminal except more intimate with a hotdog stand and a tea bar. We sat
    down at one of the tables and immediately I noticed two very fat people winding
    down two very large hot dogs. I don’t know about you but I have a fascination for
    watching very fat people eat. The family told me to stop staring. “Its rude, Christopher,
    and they will notice”. I couldn’t help myself. I was mesmerized as they swallowed
    another two whole hot dogs in one downwards movement like submarines crash diving.
    They then looked over in my direction and I had to quickly look away and innocently
    gaze into the fascinating middle distance, while wondering how they were going to
    get on board. Perhaps they were booked to be swung over on a winch. Eventually we
    were called to embark and I was expecting Peter Ustinov, in a white tropical suit
    and David Niven in a naval uniform, to be walking up the gangplank followed by the
    Italian ambassador in one of those hats with feathers on it. But they must have
    got the dates wrong and so must have the band of the Royal Marines. I had assumed
    that they would be on the quay side playing Anchors Away in those large white pith
    helmets with the extensions down the back to protect the white man’s neck in Africa.
    To make up for this we were given streamers to threw overboard as we cruised out
    through the harbour entrance and the diners at Thirstys came out to wave us goodbye.
    Once out into the waves I had this uneasy sensation. When it comes to the sea I
    am one of the last of the great vomiters. I find travelling on the water a deeply
    religious experience and end up promising God anything so long as He stops the swaying.
    I can throw up a complete mushroom omelette with the first rock to starboard. (I
    hope you are not having breakfast while reading this). In deck sports I usually
    win the oesophageal long jump by several yards (in Italian it is known as pizza
    overboard). In fact, I was told of a cure for sea sickness which I had not heard
    of before. It is called the “six beer shoot”. At the beginning of the voyage you
    down six beers in the bar as quickly as you can and then, and this is the important
    part, you go to the side of the ship where the wind is blowing outwards. If you
    go to the wrong side of the ship it comes back at you and it is rather a drenching
    affair. Either way the relief is meant to cure the sea sickness for the rest of
    the trip. My friend, Andre Olivier, had brought along a hand held Global Positioning
    System (GPS) which needed three satellites to triangulate our position in the bar
    to an accuracy of one metre. This is an extremely useful piece of equipment for
    testing the effect of the different bar cocktails such as Yellow Bird (rum, galliano,
    apricot brandy and pineapple) or Dreaming Sonia (gin, orange juice, amaretto liqueur
    and grapefruit). With the GPS you can tell how far down the bar you have slipped.
    If you are talking to someone you can tell if you are both upright or lying on the
    floor having the conversation. Obviously the search for the rare white sweet thorn
    was going to be a hard and onerous business. So we headed out into the Indian Ocean
    by courtesy of valoid, stugeron and avomine. Within an hour of setting off we had
    a life boat drill and I think we assembled at the wrong station. We went to A and
    we were meant to be at B. Anyway the two enormous people from the hot dog stand
    were at our life boat. Our life boat was obviously not going to be one with much
    room in it. We had to put on life jackets and they could hardly get the jackets
    over their heads without going purple. We were told that one long blast on the whistle
    was for man overboard and two blasts was for fire on board. Would, I wondered, three
    blasts be for “this is your captain speaking from the life boat heading for Maputo”.
    At breakfast on the first day we were sixty five nautical miles east of Inhaca island
    on the GPS and were being hovered over by Guiseppe, Pepe, Antonia, and Giovanni,
    with a fair amount of bon giornos and ciaos. There was also another waiter called
    Manuel but as far as I could ascertain he was not from Barcelona. After breakfast
    everyone, of course, and I mean nearly the whole ship’s passenger list, reached
    for their cell phones. One of the delights of the cell phone is being able to phone
    the office from a deck chair in the sunshine off the Mozambique coast to tell them
    how much you are missing them. And so, as though in the foot steps of previous African
    explorers, we intrepidly (true explorers are always intrepid) steamed up the African
    coast. By lunch time the ship had developed a slight roll-like corkscrew action
    and I felt unable to face the Suggerimenti dello Chef (the chef’s special of the
    day). The ever helpful barman suggested that this corkscrew motion could be taken
    away by a Pino Colada, which is creme do coco and Bacardi rum shaken with pineapple
    juice and decorated with a red cherry (cereja vermilha). It comes up (I mean it
    is served) in a large glass goblet and , indeed, stopped the swaying of the ship
    in a miraculous way. My main worry was that the weather would be too rough the next
    day for the launch of the rubber ducks, which would take us from the cruiser onto
    the shoreline of Bazaruto Island , which we were due to reach early the following
    morning. As luck would have it the next day was calm and the rubber ducks were launched
    and we arrived safely on the beach. We set off with a determined pace and on rounding
    the mainland there was an idyllic crescent shaped bay with clear calm water and
    a beach of fine soft sand complete with a dhow on the water. It was the sort of
    place where you expect them not to have seen a white man for fifteen years and the
    survivors of an old ship wreck run out to greet you waving tattered shirts and with
    wild glazed eyes. And there they were, the white sweet thorn trees, lining the upper
    part of the beach. It was like finding the source of the Nile. Would, one wondered,
    Doctor Livingstone have been able to have made it with only a cell phone, a global
    positioning system and a cruise ship with two shows a night whilst staving off dehydration
    with Pina Coladas? I await my Royal Geographical Society’s medal for intrepid explorers.
</p>
