@{
    ViewBag.Title = "Links";
}
<div class="shim column">
</div>
<div class="page" id="links">
    <div id="content">
        <h3>
            About the Links</h3>
        <p>
            The following links should help you find the books that I have published. I will
            also be able to link to articles of mine that have been published and are online.</p>
        <h4>
            Communicating with the African Patient</h4>
        <dl>
            <dt><a target="_blank" href="http://www.ukznpress.co.za/book.php?action=displaybook&conf[bookid]=213">
                UKZN Press</a></dt><dd>The University of KwaZulu-Natal Press.</dd><dt><a target="_blank"
                    href="http://www.kalahari.net/bk/product.asp?sku=28318222">kalahari.net</a></dt><dd>kalahari.net
                        online South African bookstore.</dd><dt><a target="_blank" href="http://www.exclusivebooks.com/display.php?ean=9781869140397">Exclusive
                            Books</a></dt><dd>Exclusive Books South Africa. Order online or pick-up in store.</dd></dl>
    </div>
</div>
